{% extends 'front.html.twig' %}

{% block changer %}
<div class="container" style="margin-top:100px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Eleve</h4>
                <p class="card-category">Modifier un eleve</p>
            </div>
            <div class="card-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <ul>
                <li>
                    <a href="{{ path('eleve_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

{% endblock %}
