
    {% extends 'front.html.twig' %}

{% block changer %}
{#    {% if is_granted('IS_AUTHENTICATED_FULLY') %}#}

<br>
<br>
<br>

<div class="container" style="margin-top:100px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Menu </h4>
                <p class="card-category">ajouter  le menu du jour </p>
            </div>
            <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form.items,{'attr':{'type':'text','class':'form-control','placeholder':'Items...'}}) }}
            <br>
            {{ form_widget(form.prix,{'attr':{'type':'textarea','class':'form-control','placeholder':'Prix...'}}) }}
            <br>
            {{ form_widget(form.photo,{'attr':{'type':'text','class':'form-control','placeholder':'photo...'}}) }}
            {{ form_widget(form.Submit,{'attr':{'type':'text','class':'btn btn-common','placeholder':'Ajouter...'}}) }}
            <br>
            {{ form_end(form) }}
        </div>
        </div>
    </div>
</div>
    </div>
{#    {% endif %}#}
{% endblock %}