{% extends 'front.html.twig' %}

{% block changer %}

    <br>
    <br>
    <br>
    <div class="container">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">liste des Bus </h4>
        {#                        <p class="card-category"> Here is a subtitle for this table</p>#}
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table">
    <thead class=" text-primary">
    <th>  Date d'inscription </th>
    <th>  Fin de l'inscription </th>
    <th> Montant  </th>
    <th >supprimer</th>
    <th >modifier</th>
    <th>ajouter </th>
    <tbody>
    {% for m in transport %}

    <tr>

        <td>{{ m.dateInscription | date}}</td>
        <td>  {{ m.finInscription | date }} </td>
        <td>  {{ m.montant}} DT  </td>
                    <td><a href= "{{ url('deletetransport',{'id':m.id })  }}"> Supprimer  !</a> <br></td> <br>
                    <td><a href= "{{ url('updatetransport',{'id':m.id })  }}"> Modifier  !</a> <br></td><br>
                    <td><a href= "{{ url('addtransport',{'id':m.id })  }}"> Ajouter  !</a> <br></td><br>
    </tr>

            {% endfor %}
    </table>

    </div>
        <hr>
    </div>
    </div>
    </div>


{% endblock %}