{% extends 'front.html.twig' %}
{% block changer %}
            <br>
            <br>
            <br>
            <br>
            <div class="container">
            <a href="/event/ajoutEvent" class="btn btn-secondary">Ajouter Evenement</a>
            </div>
            <hr>
            <div class="container">
                    <form class="form-group" method="post" action="/event/searchdate">
                    <div class="row">
                            <div class="col-md-6">
                            <label>Date evenement </label>
                            <input type="date" class="form-control" name="dateevent">
                            </div>
                            <div class="col-md-6">
                            <input type="submit" value="chercher" class="btn btn-primary">
                            </div>
                    </div>
                    
                    
                    </form>

            </div>
            <div class="container">
            <hr>
            <div class="row">
            <div class="col-md-6">
            <a href="/event/recents" class="btn btn-warning">
                    <i class="material-icons">
                    arrow_back_ios
                    </i>
                Evenement Recents
            </a>
            </div>
            <div class="col-md-6 ">
              <a href="/event/avenir" class="btn btn-success float-right">
                Evenements a venir
                 <i class="material-icons">
                    arrow_forward_ios
                    </i>
            </a>
            </div>
            </div>
            <hr>
            </div>

            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">liste des events</h4>
                        {#                        <p class="card-category"> Here is a subtitle for this table</p>#}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>  NomEvent</th>
                                <th>  Description</th>
                                <th>placeDispo</th>
                                <th>DateEvent</th>
                                <th>heureEvent</th>
                                <th>affiche</th>
                                <th >modifier</th>
                                <th >supprimer</th>

                                <tbody>
                                {% for f in formations %}


                                    <tr>

                                        <td>{{ f.nom_event }}</td>
                                        <td>{{ f.description }}</td>
                                        <td> {{ f.placeDispo }} </td>
                                        <td> {{ f.DateEvent|date }} </td>
                                        <td> {{ f.HeureEvent }} </td>
                                        <td><img src="{{ asset('img/' ~ f.image) }} " style="width: 50px;"></td>
                                        <td><a href="{{ path('event_modifieEvent',{'id':f.id}) }}" >  <button class="btn btn-secondary">Modifier</button></a></td>
                                        <td><a href="{{ path('event_supprimeEvent',{'id':f.id}) }}" >  <button class="btn btn-secondary"> Supprimer</button></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                                
                        </div>
                        <hr>
                        {# display navigation #}
                        <div class="navigation">
                                    {{ knp_pagination_render(formations) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock changer %}