{% extends 'default/index.html.twig' %}
{% block  changer  %}
    <div class="container" style="margin-top:100px;">
    <div class="col-md-8">
   <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Club</h4>
                  <p class="card-category">Modifier un club</p>
                </div>
                <div class="card-body">
                 {{ form_start(form) }}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Nom Club</label>
                          {{ form_widget(form.nomClub,{ 'attr': {'class': 'form-control'} }) }}
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Description</label>
                          {{ form_widget(form.description,{ 'attr': {'class': 'form-control'}}) }}
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Effectif</label>
                           {{ form_widget(form.effectif,{ 'attr': {'class': 'form-control'}}) }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">domaine</label>
                         {{ form_widget(form.domaine,{ 'attr': {'class': 'form-control'}}) }}
                        </div>
                      </div>
                    </div>
                    
        
                      
                      
                  
                    
                    <button type="submit" class="btn btn-primary pull-right">Modifier</button>
                    <div class="clearfix"></div>
                   {{ form_end(form) }}
                </div>
              </div>
              </div>
              </div>



{% endblock %}
